<div class="wrapper">
    <div class="col-left">
        <div class="user-block">
            <img src="http://www.mistobank.com.ua/mimg/mortgaged_property/12_67_img_slid.png" class="user-logo" id="userPhoto" alt="">
            <div class="user-name user-name--white">

            </div>
        </div>

        <div class="users-block">
            <h2 class="users-title">
                Участники <span id="usersCount">(0)</span>
            </h2>
            <ul class="users-list">

            </ul>
        </div>
    </div>
    <div class="col-right">
        <ul class="chat-list">

        </ul>
        <div class="send-block">
            <input type="text" class="message-input" id="message" placeholder="Введите сообщение...">
            <button class="send-button">Отправить</button>
        </div>
    </div>

    <div class="modal" id="loginModal">
        <div class="modal-wrapper">
            <h2 class="modal-title">
                Авторизация
            </h2>
            <div class="modal-section">
                <input type="text" class="login-modal__input" placeholder="Ваши имя и фамилия" id="name">
                <input type="text" class="login-modal__input" placeholder="Ваш никнейм" id="nickName">
                <button class="modal-button" id="loginButton">Войти</button>
            </div>
        </div>
    </div>

    <div class="modal" id="dndModal">
        <div class="modal-wrapper">
            <h2 class="modal-title">
                Загрузка фото
            </h2>
            <div class="modal-section">
                <form method="post">
                    <div class="dnd-block" id="dropBlock">
                        <img src="" id="userPhotoImage">
                        <span>Ператащите сюда фото</span>
                    </div>
                    <input type="file" id="filePhoto" name="userPhotoImage">
                    <button class="modal-button" id="cancelButton">Отмена</button>
                    <button class="modal-button" id="loadButton">Загрузить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<template id="message-template">
    <li class="chat-list__item">
        <img src="http://www.mistobank.com.ua/mimg/mortgaged_property/12_67_img_slid.png" class="user-logo user-logo--border" alt="">
        <div class="message">
            <div class="user-name">

            </div>
            <div class="data-text">

            </div>
            <div class="message-text">

            </div>
        </div>
    </li>
</template>