    <li class="chat-list__item">
        <img src='http://www.gamer.ru/system/attached_images/images/000/077/861/normal/buddy1_256.jpg' class="user-logo" alt="">
        <div class="message">
            <div class="user-name">
                {{userName}}
            </div>
            <div class="data-text">
                {{Date}}
            </div>
            <div class="message-text">
                {{message}}
            </div>
        </div>
    </li>